/*
config-page
*/

.config-page {
    background-color: white;
}


.config-page li {
    line-height: 1.2;
}

.config-page form input {
    line-height: 1.5;
    margin-bottom: 5px;
}

.config-page form input.submit {
    margin-top: 8px;
    margin-bottom: 20px;
}

/*
video-overlay-page
*/

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.video-overlay-page p{
     line-height: 1;
     padding: 5px;
     margin: 0;

     /*font-size: clamp(.5rem, 2vw, 1.5em);*/
     font-size: calc(12px + .5vw);
     color: white;
}

.video-overlay-page #entirePage {
    /* https://medium.com/developer-rants/what-if-height-100vh-is-bigger-than-your-screen-7f39c62ac170 */
    /*
    width: 99vw;
    height: 99%;
    min-height: 99%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    */

    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    /* If debugging based on positioning */
    /* background-color:green; */
}

.video-overlay-page #entirePageExceptEdge {
    /* slightly away from edge of page so that in full screen mouse at edge won't trigger hover
    and extra on bottom as that seems to have some weird detection issues */
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;

    /* If debugging based on positioning */
    /* background-color:red; */
}

/*
For showing/hiding the cursesAndBlessings:
-Want to show the border when hovering inside the page but not within the cursesAndBlessings area
-Want to show the border and content when hovering inside the cursesAndBlessings area
-Want to show neither the border or content when not hovering on the page - especially when full screen with mouse at edge of page
*/

.video-overlay-page #cursesAndBlessingsHoverTarget {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 26.15vw;
    height: 9vw;

    /* If debugging based on positioning */
    /* background-color:yellow; */
}

.video-overlay-page #cursesAndBlessingsContentContainer {
    /*
        Fill entire parent
    */
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;

    border-radius: 1vw;
    border-width: 3px;
    border-color: blue;
    /* borer-style is controlled in the script to show/hide the border */
}

.video-overlay-page  #cursesAndBlessingsContent {
    /*
        Fill entire parent
    */
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;

    overflow: auto;
    display: block;

    border-style: solid;
    border-color: blue;
    border-width: 3px;
    border-radius: 1vw;

    background-color:black;

    /* might be needed when displaying other things for debugging, but probably not */
    z-index:1;

    padding-left: .7vw;
    padding-top: .3vw;
}

/*
Reference code for investigating if using :hover is any different that mouseover/mouseout

.video-overlay-page #entirePageExceptBorders:hover #cursesAndBlessingsContainer {
  border-style: solid;
  border-color: blue;
}

.video-overlay-page #cursesAndBlessingsContainer:hover #cursesAndBlessings {
    display: flex;
}

.video-overlay-page #cursesAndBlessings:hover #cursesAndBlessingsContainer {
    display: none;
}
*/